{% extends 'base.html.twig' %}

{% block title %}Portfolio!{% endblock %}

{% block body %}


    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    <!-- CONTENT -->
    <section class="py-8 py-md-12 mt-n10">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
                {% for categorie in categories %}
                    {% set img = categorie.peintures|last %}
                <div class="col-12 col-md-4 resources">

                    <!-- Card -->
                    <a class="card shadow-light-lg mb-7" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">

                        <!-- Image -->
                        <div class="card-zoom">
                            <img class="card-img" src="{{ img.file }}" alt="...">
                        </div>

                        <!-- Overlay -->
                        <div class="card-img-overlay card-img-overlay-hover">
                            <div class="card-body bg-white">

                                <!-- Shape -->
                                <div class="shape shape-bottom-100 shape-fluid-x text-white">
                                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>                  </div>

                                <!-- Preheading -->
                                <h6 class="text-uppercase mb-1 text-muted">{{ categorie.nom }}</h6>

                                <!-- Heading -->
                                <h4 class="mb-0">{{ categorie.description }}</h4>

                            </div>
                        </div>

                    </a>

                </div>



{% endfor %}
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-gray-200">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>
{% endblock %}
