{% extends 'base.html.twig' %}

{% block title %}Portfolio!{% endblock %}

{% block body %}


    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    <!-- CONTENT -->
    <section class="py-8 py-md-15 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
                {% for categorie in categories %}
                    {% set peinture = categorie.peintures|last %}
                <div class="col-12 col-md-4 ux">
                    <a class="card lift lift-lg shadow-light-lg mb-7" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">
                        <img class="card-img-top" src="{{ vich_uploader_asset(categorie, 'imageFile') | imagine_filter('portfolio') }}" alt="...">
                            <div class="card-body">
                                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>

                            </div>
                                <h4 class="text-uppercase mb-1 text-muted">{{ categorie.nom }}</h4>
                                <small class="mb-0">{{ categorie.description|u.truncate(100,'...', false) }}</small>
                            </div>
                    </a>
                        </div>



{% endfor %}
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-gray-200">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>
{% endblock %}
